POSTGRES_USER=postgres
POSTGRES_PASSWORD=development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
GITHUB_TOKEN= # An access token from https://github.com/settings/personal-access-tokens - no specific permissions are required
