openapi: 3.0.1
info:
  title: "Ecosyste.ms: Advisories"
  description: "An open API service providing security vulnerability metadata for many open source software ecosystems."
  contact:
    name: Ecosyste.ms
    email: support@ecosyste.ms
    url: https://ecosyste.ms 
  version: 1.0.0
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
externalDocs:
  description: GitHub Repository
  url: https://github.com/ecosyste-ms/advisories
servers:
- url: https://advisories.ecosyste.ms/api/v1
paths:
  /advisories:
    get: 
      summary: "list advisories"
      operationId: "getAdvisories"
      tags:
        - advisories
      parameters:
        - name: ecosystem
          in: query
          description: "Ecosystem to filter by"
          required: false
          schema:
            type: string
        - name: package_name
          in: query
          description: "Package to filter by"
          required: false
          schema:
            type: string
        - name: severity
          in: query
          description: "Severity to filter by"
          required: false
          schema:
            type: string
        - name: repository_url
          in: query
          description: "Repository URL to filter by"
          required: false
          schema:
            type: string
        - name: source
          in: query
          description: "Source to filter by (e.g. github, erlef)"
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advisory'
  /advisories/packages:
    get:
      summary: "list packages that have advisories"
      operationId: "getAdvisoriesPackages"
      tags:
        - advisories
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
  /advisories/lookup:
    get:
      summary: "lookup advisories by Package URL (PURL)"
      operationId: "lookupAdvisoriesByPurl"
      description: "Lookup security advisories for a package using Package URL (PURL) specification. Supports multiple ecosystems including npm, pypi, rubygems, maven, nuget, go, and cargo."
      tags:
        - advisories
      parameters:
        - name: purl
          in: query
          description: "Package URL (PURL) to lookup advisories for. Format: pkg:type/namespace/name@version"
          required: true
          schema:
            type: string
          example: "pkg:npm/lodash@4.17.20"
      responses:
        200:
          description: "List of advisories for the specified package"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advisory'
        400:
          description: "Bad Request - Invalid or missing PURL parameter"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "PURL parameter is required"
  /advisories/{advisoryUUID}:
    get:
      summary: get a advisories by uuid
      operationId: getAdvisory
      tags:
        - advisories
      parameters:
        - in: path
          name: advisoryUUID
          schema:
            type: string
          required: true
          description: uuid of the advisory
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisory'
  /sources:
    get:
      summary: "list advisory sources"
      operationId: "getSources"
      tags:
        - sources
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Source'
  /sources/{sourceKind}:
    get:
      summary: get a source by kind
      operationId: getSource
      tags:
        - sources
      parameters:
        - in: path
          name: sourceKind
          schema:
            type: string
          required: true
          description: kind of the source (e.g. github, erlef)
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
components:
  schemas:
    Advisory:
      type: object
      properties:
        uuid:
          type: string
        url:
          type: string
        title:
          type: string
        description:
          type: string
        origin:
          type: string
        severity:
          type: string
        published_at:
          type: string
        withdrawn_at:
          type: string
        classification:
          type: string
        cvss_score:
          type: number
        cvss_vector:
          type: string
        references:
          type: array
          items:
            type: string
        source_kind:
          type: string
        identifiers:
          type: array
          items:
            type: string
        repository_url:
          type: string
        blast_radius:
          type: number
        packages:
          type: array
          items:
            $ref: '#/components/schemas/PackageWithDetails'
        created_at:
          type: string
        updated_at:
          type: string
        epss_percentage:
          type: number
        epss_percentile:
          type: number
        related_advisories:
          type: array
          description: "Advisories from other sources for the same vulnerability (matched by CVE)"
          items:
            $ref: '#/components/schemas/RelatedAdvisory'
    RelatedAdvisory:
      type: object
      properties:
        uuid:
          type: string
        source_kind:
          type: string
        url:
          type: string
    Source:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        kind:
          type: string
        url:
          type: string
        advisories_count:
          type: integer
        created_at:
          type: string
        updated_at:
          type: string
    Package:
      type: object
      properties:
        ecosystem:
          type: string
        package_name:
          type: string
    PackageWithDetails:
      type: object
      properties:
        ecosystem:
          type: string
        package_name:
          type: string
        purl:
          type: string
          description: "Package URL (PURL) for this package"
          example: "pkg:npm/lodash"
        versions:
          type: array
          items:
            type: object
            properties:
              vulnerable_version_range:
                type: string
              first_patched_version:
                type: string
        statistics:
          type: object
          properties:
            dependent_packages_count:
              type: integer
            dependent_repos_count:
              type: integer
            downloads:
              type: integer
            downloads_period:
              type: string
        affected_versions:
          type: array
          items:
            type: string
        unaffected_versions:
          type: array
          items:
            type: string